## Implementation Logistic Regression

In [1]:
# importing libraries
import pandas as pd
import matplotlib.pylab as plt

In [2]:
# importing the final cleaned dataset
data=pd.read_csv('https://raw.githubusercontent.com/thamidu02/AIML_project/refs/heads/main/data/final_dataset.csv')

In [3]:
# converting to a pandas dataframe
data_df=pd.DataFrame(data)

In [5]:
data_df.head()

,age,height,weight,bmi,waist_size,blood_pressure,glucose,heart_rate,insulin,cholesterol,...,stress_level,target,gender_Female,gender_Male,job_type_Healthcare,job_type_Labor,job_type_Office,job_type_Service,job_type_Tech,job_type_Unemployed
0,0.258065,0.255070,-0.649144,-0.659878,-0.783060,-0.088073,0.113628,-1.201575,-0.104571,0.606505,...,-0.500000,healthy,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.677419,-0.508451,1.383626,1.572852,0.040388,-0.106204,0.627273,-0.718725,-0.833713,-1.828303,...,-0.333333,healthy,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.064516,0.544123,0.533403,0.187680,0.328247,0.163743,-0.397464,0.090790,-0.098877,-1.277666,...,-0.833333,healthy,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,-0.516129,0.156681,-0.338304,-0.358521,0.954038,1.477934,1.051240,-0.522819,0.639931,0.321508,...,0.833333,healthy,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.387097,-0.478429,-1.488155,-1.158171,-0.975776,1.605675,-0.189262,1.467556,0.178306,0.257302,...,0.666667,healthy,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0